body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label, span {
  font-weight: bold;
}

.container-age {
  justify-content: center;
  margin-top: 100px;
}

.container-age .container-diff .diff{
  text-align: center;
}

.container-age .container-diff span{
  font-size: 200px;
}

.container-age .container-values { 
  justify-content: center;
}

.container-age .container-input span{
  margin-left: 85px;
}
